h1 {
color: blue;

}

img	{
	width:  450px;
	height: 250px;
}	


.Henry{
	text-align: center;
}



#thirdDiv {
width: 500px;
height: 600px;
background-color: lightgrey;

padding: 50px;
border-color: black;
border-style: solid;
}

#spanId{
	font-size: 18px;
	margin: 50px;
}